*,
*::after,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	background: royalblue;
	font-weight: 700;
}
.App {
	width: clamp(359px, 70%, 1440px);
	margin: 0 auto;
}
.header {
	display: flex;
	justify-content: space-between;
}
